ul {
    list-style: circle;
}

.header-nav {
    display: flex;
    align-items: center;
    padding: 0px 30px;
    background-color: #333;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
    padding: 0;
    margin: 0;
    margin-left: auto;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
} .nav-links

li a:hover {
    text-decoration: underline;
}

.staffed-hours {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.footer-info {
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
}

.basics-list {
    color: white;
    list-style: none;
    padding-left: 0;
    margin: 0; 
}

.membership-prices {
    width: 50%; /* Sets the table width to 50% of its container */
    margin: 0 auto; /* Centers the table horizontally */
    border-collapse: collapse; /* Ensures borders collapse into one */
}

.membership-prices td {
    padding: 8px 12px; /* Adds padding around the content in table cells */
    text-align: left; /* Aligns text to the left */
    border: 1px solid #ddd; /* Adds a border around each cell */
}

.membership-prices tr:nth-child(even) {
    background-color: #f2f2f2; /* Adds a background color to every even row */
}

.membership-prices td:first-child {
    font-weight: bold; /* Makes the first column bold */
}